click
sk-video
# gym==0.13 # default to this stable point if caught in gym/gymnasium issues
gymnasium
termcolor
flatten_dict
h5py
numpy
#mujoco==3.2.5
#mujoco-mjx==3.2.5
dm-control
Pillow
pink-noise-rl
packaging
gitpython
gymnax
brax
torch
tensorboard
pytest
stable-baselines3